{% extends 'ktvc.html' %}
{% load static %}
<!--NAVBAR SECTION END-->
{% block content %}
<div class="home-sec" id="home" >
   <div class="overlay">
    <div class="container">
   <div class="row text-center " >
   
       <div class="col-lg-12  col-md-12 col-sm-12">
       
        <div class="flexslider set-flexi" id="main-section" >
            <ul class="slides move-me">
                <!-- Slider 01 -->
                <li>
                      <h3>MOTTO</h3>
                   <h1>EMPOWERING WITH SKILL AND TECHNOLOGY</h1>
                   
                </li>
                <!-- End Slider 01 -->
                
                <!-- Slider 02 -->
                <li>
                    <h3>VISSION</h3>
                   <h1>A LEADER IN GLOBALLY COMPETITIVE TRAINING IN TECHNICAL, VOCATIONAL, INNOVATIONS AND RESEARCH.

                   </h1>
                    
                </li>
                <!-- End Slider 02 -->
                
                <!-- Slider 03 -->
                <li>
                    <h3>MISSION</h3>
                   <h1>TO PROVIDE GLOBALLY COMPETITIVE TECHNICAL AND VOCATIONAL EDUCATION AND TRAINING (TVET) IN SPECIALIZED SKILLS AND COMPETENCIES FOR THE LOCAL AND INTERNATIONAL MARKET</h1>
                    
                </li>
                <!-- End Slider 03 -->
            </ul>
        </div>
           

      
      
    </div>
        
       </div>
        </div>
   </div>
   
</div>
<!--HOME SECTION END-->   
<div  class="tag-line" >
 <div class="container">
   <div class="row  text-center" >
   
       <div class="col-lg-12  col-md-12 col-sm-12">
       
<h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i> KTVC OFFICIAL WEBSITE <i class="fa fa-circle-o-notch"></i> </h2>
           </div>
       </div>
     </div>

</div>
<!--HOME SECTION TAG LINE END-->   
 <div id="features-sec" class="container set-pad" >
     <div class="row text-center">
         <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
             <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">FEATURE LIST </h1>
             <p data-scroll-reveal="enter from the bottom after 0.3s" >
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
                 </p>
         </div>

     </div>
     <!--/.HEADER LINE END-->


   <div class="row" >
   
       
         <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
             <div class="about-div">
             <i class="fa fa-paper-plane-o fa-4x icon-round-border" ></i>
           <h3 >Quality Education</h3>
         <hr />
               <hr />
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
       <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
        </div>
           </div>
           <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
             <div class="about-div">
             <i class="fa fa-bolt fa-4x icon-round-border" ></i>
           <h3 >SYSTEMATIC APPROACH</h3>
         <hr />
               <hr />
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
       <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
        </div>
           </div>
         <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
             <div class="about-div">
             <i class="fa fa-magic fa-4x icon-round-border" ></i>
           <h3 >ONE TO ONE STUDY</h3>
         <hr />
               <hr />
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
       <a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>
        </div>
           </div>
         
         
       </div>
     </div>
<!-- FEATURES SECTION END-->
<div id="faculty-sec" >
<div class="container set-pad">
     <div class="row text-center">
         <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
             <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">OUR FACULTY </h1>
             <p data-scroll-reveal="enter from the bottom after 0.3s">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo.
                 </p>
         </div>

     </div>
     <!--/.HEADER LINE END-->

   <div class="row" >
   
       
         <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
             <div class="faculty-div">
             <img src="{% static 'assets/img/faculty/1.jpg' %}"  class="img-rounded" />
           <h3 >ROXI CHI LUENA </h3>
         <hr />
                 <h4>Desigining <br /> Department</h4>
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
        </div>
           </div>
         <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
             <div class="faculty-div">
             <img src="{% static 'assets/img/faculty/2.jpg' %}"  class="img-rounded" />
           <h3 >JANE DEO ALEX</h3>
         <hr />
                 <h4>Enginering <br /> Department</h4>
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
        </div>
           </div>
       <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
             <div class="faculty-div">
             <img src="{% static 'assets/img/faculty/3.jpg' %}" class="img-rounded" />
           <h3 >RUBY DECORSA</h3>
         <hr />
                 <h4>Management <br /> Department</h4>
           <p >
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo . 
               
           </p>
        </div>
           </div>
         
       </div>
     </div>
</div>
<!-- FACULTY SECTION END-->
{% endblock %}